body {
    background-color: lightgrey;
    font-family: 'Montserrat', sans-serif;
}

#Home {
    background-image: url(images/baseball-far.jpg);
    background-color: gray;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    height: 85vh;
}

header p {
    font-size: 3vh;
    bottom: 15vh;
}

header h1 {
    top: 2vh;
    font-size: 8vh;
    font-weight: 700;
}

header p, h1 {
    position: absolute;
    width: 100%;
    text-align: center;
}

nav {
    background-color: gray;
    height: 15vh;
    width: 100vw;
    display: inline-block;
    text-align: center;
    z-index: 1;
}

.sticky-nav {
    position:-webkit-sticky;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li {
    position: relative;
    display: inline-block;
    font-size: 3vw;
    padding: 2vh 1vw;
}

main {
    width: 100vw;
}

section {
    text-align: center;
    margin-top: 0;
    padding-top: 15vh;
}

section h2 {
    font-size: 6vh;
}

section div {
    margin: auto;
    width: 90%;
    font-size:2vh;
}

#About {
    background-color: #e5e5e5;
    height: 85vh;
}

#Education {
    background-color: #dda15e;
    height: 85vh;
}

#Experience {
    background-color: #e5e5e5;
    height: 85vh;
}

#Projects {
    background-color: #dda15e;
    height: 85vh;
}

#Skills {
    background-color: #e5e5e5;
    height: 85vh;
}

h1 {
    margin: 0;
}

footer {
    text-align: center;
    position: relative;
    font-size: 4vh;
}
